html {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  cursor: url("/cursors/CursorsXP.cur") 7 7, auto;
}

button {
  padding: 0;
  border: none;
  background: none;
}

@media screen and (max-width: 1500px) {
  .start-button-text {
    display: none;
  }
}
